<div class="container">
  <div class="row">

	<form ng-submit="sprintsNewCtrl.createSprint()" style=" padding-left: 5.5%">
	  <div class="form-group">


	</div>

		<div style="">Duration:</div>
		<div class="btn-group" dropdown is-open="status.isopen">
		  <button
			type="button"
			class="btn btn-primary dropdown-toggle"
			dropdown-toggle
			ng-disabled="disabled">
			<span>from <b>{{sprintsNewCtrl.sprintAttributes.started_at | dateformat: 'DD-MM-YYYY' }}</b></span> to <span><b>{{sprintsNewCtrl.sprintAttributes.ended_at | dateformat: 'DD-MM-YYYY'}}</b></span> <span class="caret"></span>
		  </button>
		  <div
			class="dropdown-menu"
			role="menu"
			ng-click="$event.preventDefault();$event.stopPropagation()">
			  <div
				date-range
				start="sprintsNewCtrl.sprintAttributes.started_at"
				end="sprintsNewCtrl.sprintAttributes.ended_at"
				style="position: relative; z-index:0">
			  </div>
		  </div>
		</div>
	  </div>

	  <div class="form-group">
		<label>Participants</label>
		<div
		  ng-include="'/templates/users/show/avatar.html'"
		  ng-repeat="user in sprintsNewCtrl.users">
		</div>
	  </div>

	  <div class="form-group">
		<label>Observations</label>
		<textarea type="obs" ng-model="sprintsNewCtrl.sprintAttributes.obs" class="form-control"></textarea>
	  </div>

	  <div class="form-group">
		<label>
		  <input type="checkbox" ng-model="sprintsNewCtrl.sprintAttributes.start_bot">
		  Start BOT
		</label>
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
  </div>

</div>
