<!-- <div data-user-id="{{user.id}}" ng-repeat="user in sprint.users">
  <img class="circle" src="{{user.avatar_url}}">
  <br/>
  <label>name: {{user.name}}</label>
  <br/>
  <label>username: {{user.slack_handler}}</label>
  <br/>
  <label>email: {{user.email}}</label>
</div>
 -->

    <div class="container side_space" style="text-align: center">
    	
		<!--LIST-->
		<div class="row">
		    <div class="col-lg-12">
		    
		      <div class="media" style="background-color: green">
		        
		        <div href="#" class="pull-left" style="padding-right: 20px;">        
		          <img alt="64x64" data-src="holder.js/64x64" class="media-object img-circle" style="width: 64px; height: 64px;" src="http://api.randomuser.me/portraits/thumb/men/22.jpg">      
		        </div>
		        <div class="media-body">
		          <div class="media-heading" style="text-align: left"><h3><a href="#">Raoul Boulard</a></h3></div>
		          <p class="small"><span class="glyphicon glyphicon-time timestamp" data-toggle="tooltip" data-placement="bottom" title="Lundi 24 Avril 2014 à 18h25"></span>2/3 completed stories</p>

		          <div style="background-color: red; text-align: left,">
		          	<ul class="list-group">
					  	<li class="list-group-item">
					    	<span>ID: 91021222</span>
					    	<span>[mockups] (template 01) when I signup in to prolinkedcare I want to receive a "Welcome email"  so I know how I can get more value of software</span>
			    		</li>
			    		<li class="list-group-item">
					    	<span>Cras justo odio</span>
			    		</li>
					</ul>
		          </div>
		        </div>
		        

		      </div>    
		    
		         
		    
		    </div>



    	<!-- ITEMS -->
    	<!-- <!-- <div class="row" style="width: 100%">
    		<div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            <!--</div>
	        </div>
	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            <!--</div>
	        </div>

	            
		</div>--><!--Items-->





	</div><!--CONTAINER-->

