<div data-user-id="{{user.id}}" ng-repeat="user in sprint.users">
  <img class="circle" src="{{user.avatar_url}}">
  <br/>
  <label>name: {{user.name}}</label>
  <br/>
  <label>username: {{user.slack_handler}}</label>
  <br/>
  <label>email: {{user.email}}</label>
</div>


    <div class="container side_space" style="text-align: center">
    	<!-- ITEMS -->
    	<div class="row" style="width: 100%">
    		<div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>
	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>
	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>
	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>

	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>
	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>

	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>
	        <div class="col-sm-5 col-md-3">
	            <div class="thumbnail">
	            	<div class="caption">
	                	<h3>Username</h3>
	             	</div>
	              	<img class="img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg" alt="...">
	              	<div class="caption">
	                	<h4>100%</h4>
	                	<div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
	                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	                      		<span class="sr-only">60% Complete</span>
	                    	</div>
	              		</div>
              		</div>
	                <p>1/2 completed stories</p>
	                <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
	            </div>
	        </div>




    	</div>





	</div><!--CONTAINER-->

