<div data-user-id="{{user.id}}" ng-repeat="user in sprint.users">
  <img class="circle" src="{{user.avatar_url}}">
  <br/>
  <label>name: {{user.name}}</label>
  <br/>
  <label>username: {{user.slack_handler}}</label>
  <br/>
  <label>email: {{user.email}}</label>
</div>

    <div class="container">
      <!-- Example row of columns -->



      <div id="list_done" class="row">
        <!--ITEM-->
        <div id="member_item">
          <div class="col col-xs-5 col-sm-3">
            <div class="card">
              <div class="username center">
                <h2>User name</h2>
              </div>
              <div class="user_pic center">
                <img class="circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg">
              </div>
              <div class="center">
                <h3>100%</h3>
              </div>
              <h6 class="center">cenas comppleted%</h6>
            </div><!--COL-IN-->
            <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
          </div><!--ITEM-->
        </div><!--LIST_DONE-->




    </div><!--CONTAINER-->

