
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 300;
	src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr1uKlGE8-OjkUKWan_M3D6s.woff) format('woff');
}


body {
	padding: 0;
	margin: 0; 
	font-family: 'Titillium Web';
	text-align: center;
}

h1{
	font-weight: bold;
	font-size: 40px;
	line-height: 24px;
	color: #464B57;
}

h2{
	font-weight: bold;
	font-size: 28px;
	line-height: 24px;
	color: #464B57;
}

.default_text{
	font-weight: normal;
	font-size: 16px;
	color: #464B57;
}

.row{
	padding-left: 1%;
}

.col{
	margin-bottom: 1%;
	height: 250px; 
}
.center{
	text-align: center;
}

.user_pic{
	padding: 5% 0 7% 0;
}
.circle{
  	border-radius: 50%;
  	border: 5px solid blue;
}

.card{
	background-color: #F2F2F2;
	border: 0px grey dashed;
	margin-bottom: 10px;
	padding: 1%;
	border-radius: 4px;
}
.row{
	margin-bottom: 20px;
}

.member_item{
}

.jumbotron {
	background-color: #F2F2F2;
	}


#out{
	border: 1px solid pink;
}

#in{
	background-color: black; 
}

#other {
	background-color: cyan;
}
/*HEADER STYLES*/
.container{
	width: 100%;
	/*text-align: center;*/ 
}

.side_space{
	padding-left: 5%;
	padding-right: 5%;
}

#header {
	width: 100%;
}

#navig {
height: 150px;
width: 100%;
background-color: #EFEFEF;
}

.sprint_id{
width: 50%;
float: left;
text-align: left;
padding: 3% 2% 0 2%;
}

.sprint_progress{
padding: 3% 2% 0 2%;
text-align: right;
width: 50%;
float: right;
}

.navbar-default{
	border: none;
	background-color: #F2F2F2;
	width: 100%;
}
#top{
	background-color: #464B57;
	height: 50px;
}

.arrow-prev{
	padding: 0 3% 0 0;
}
.arrow-next {
	margin: 0 0 0 3%;
}

.date_nav{
	height: 30px;
	text-align: right;
}
.prog{
	float: right;
	width: 200px;
}

.fl_left{
	float: left;
	height: 30px;
}
.left {
	float: left;
}

.spr_date{
	padding: 0 5% 0 5%;
}

.progress-bar{
	width: 50%;
	text-align: right;
}

#sprints ul.navbar-nav li{
	/*height: 30%;
	*/width: 200px;
}



}

