<div id="new_spr" class="new_spr" ng-if="!SprintFactory.current">
  <p>There's no active sprint.</p>
  <p>Start a new one and set your awesome team to work!</p>
  <a ui-sref="sprints-new" class="btn btn-default"><b>Start sprint</b></a>
</div>

<div id="navig" class="side_space" ng-if="SprintFactory.current">
  <div class="sprint_id">
      <span class="default_text">Sprint</span>

      <div class="date_nav">
        <h2>
          <div class="fl_left">
            <img class="arrow-prev" src="/img/arrow_prev.svg">
          </div>
          <div class="fl_left spr_date">
            <span>{{ SprintFactory.current.started_at | dateformat: 'D MMM' }}</span> - <span>{{ SprintFactory.current.ended_at | dateformat: 'D MMM' }}</span>
          </div>
          <!-- <div class="fl_left">
            <img class="arrow-prev" src="/img/arrow_next.svg">
          </div> -->
        </h2>
      </div><!--date_nav-->
    </div><!--sprint_id-->

    <!--CONTENT INSIDE IF (NO ACTIVE SPRINT)-->
    <div class="sprint_progress">
      <div style="text-align:right" ng-if="!SprintFactory.current">
          <div class="right perc" style="width: 100%; text-align: right; padding-bottom: 10px; font-line: 40px; padding-top: 18px">
            <h2>No Active Sprint.</h2>
          </div>
      </div>
      <div ng-if="SprintFactory.current">
        <div class="default_text">Sprint progress</div>
        <div style="text-align:right">
          <h2>
            <div class="right perc" style="width: 100%; text-align: right; padding-bottom: 10px">
              <h1>{{SprintFactory.current.completion_percentage}}%</h1>
            </div>
          <div class="date_nav prog">
            <div class="progress team">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{SprintFactory.current.completion_percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{SprintFactory.current.completion_percentage}}%;">
                <span class="sr-only">{{SprintFactory.current.completion_percentage}}% Complete</span>
              </div>
            </div>
          </div>
          </h2>
        </div>
      </div>
    </div><!--sprint_progress-->
  </div><!--navig-->



<nav class="navbar navbar-default" style="background-color: white; padding-top:20px" ng-if="SprintFactory.current">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-left" style="padding-left: 4%; width: 40%">
      <li>
        <a
          href=""
          ng-click="homeCtrl.setDefaultView()"
          ng-class="{ active: !homeCtrl.listView }">
          <img src="/img/thumb.svg">
        </a>
      </li>
      <li>
        <a
          href=""
          ng-click="homeCtrl.setListView()"
          ng-class="{ active: homeCtrl.listView }">
          <img src="/img/list.svg">
        </a>
      </li>
    </ul>

    <!-- <ul class="nav navbar-nav navbar-right" style="padding-right: 5%" >
      <li>
          <a href='/login' target="_self">Team</a>
      </li>
      <li>
        <a>Stories</a>
      </li>
    </ul> -->
  </div>
</nav>

<div
  ng-if="SprintFactory.current && !homeCtrl.listView"
  onload="sprint = SprintFactory.current"
  ng-include="'/templates/sprints/show.html'">
</div>

<div
  ng-if="SprintFactory.current && homeCtrl.listView"
  onload="sprint = SprintFactory.current"
  ng-include="'/templates/sprints/show_list.html'">
</div>
