<div id="navig" class="side_space">
  <div class="sprint_id">
      <span class="default_text">Sprint</span>


      <div class="date_nav">
        <h2>
          <div class="fl_left">
            <img class="arrow-prev" src="/img/arrow_prev.svg">
          </div>
          <div class="fl_left spr_date">
            <span>15 Jun</span> - <span>21 Jun</span>
          </div>
          <!-- <div class="fl_left">
            <img class="arrow-prev" src="/img/arrow_next.svg">
          </div> -->
        </h2>
      </div><!--date_nav-->
    </div><!--sprint_id-->

    <div class="sprint_progress">
      <div class="default_text">Sprint progress</div>
      <div style="text-align:right">
        <h2>
          <div class="right perc" style="width: 100%; text-align: right; padding-bottom: 10px">
            <h1>55%</h1>
          </div>
        <div class="date_nav prog">
          <div class="progress team">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
        </div>
        </h2><!--date_nav-->
      </div>
    </div><!--sprint_id-->
  </div><!--navig-->

</div><!--HEADER-->

<nav class="navbar navbar-default" style="background-color: white; padding-top:20px">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-left" style="padding-left: 4%; width: 40%">
      <li>
        <a
          href=""
          ng-click="homeCtrl.setDefaultView()"
          ng-class="{ active: !homeCtrl.listView }">
          <img src="/img/thumb.svg">
        </a>
      </li>
      <li>
        <a
          href=""
          ng-click="homeCtrl.setListView()"
          ng-class="{ active: homeCtrl.listView }">
          <img src="/img/list.svg">
        </a>
      </li>
    </ul>

    <!-- <ul class="nav navbar-nav navbar-right" style="padding-right: 5%" >
      <li>
          <a href='/login' target="_self">Team</a>
      </li>
      <li>
        <a>Stories</a>
      </li>
    </ul> -->
  </div>
</nav>

<div
  ng-if="homeCtrl.currentSprint && !homeCtrl.listView"
  onload="sprint = homeCtrl.currentSprint"
  ng-include="'/templates/sprints/show.html'">
</div>

<div
  ng-if="homeCtrl.currentSprint && homeCtrl.listView"
  onload="sprint = homeCtrl.currentSprint"
  ng-include="'/templates/sprints/show_list.html'">
</div>
