
<!--MODAL - click user card-->
<!--HEADER-->
<div class="modal-header" style="background-color: #4C91E4;">
  <h3 class="modal-title" style="color: white;">{{usersModalShowCtrl.user.slack_handler}}'s stories
    <button type="button" class="close" ng-click="usersModalShowCtrl.cancel()" aria-label="Close">
      <span aria-hidden="true">
        <img src="/img/close.svg">
      </span>
    </button>
  </h3>
</div>

<!--BODY-->
<div class="modal-body" style="margin: 0; padding: 0">
  <div ng-if="usersModalShowCtrl.user.stories.length == 0">
    <img src="http://media.giphy.com/media/haQ2DRRCtIvBu/giphy.gif" width="100%">

    <div style="padding-top: 5%">
      <h3>Definitely, this guy wants party.</h3>
      <h3>He has no stories.</h3>
    </div>

    <div style="padding: 5%">
      <button class="btn" style="background-color: #4C91E4; color: white"><b>Set him to work</b></button>
    </div>
  </div>



  <!--IF USER HAS STORIES-->
  <div ng-if="usersModalShowCtrl.user.stories.length > 0">
    <ul class="list-group default_text list_center" ng-repeat="story in usersModalShowCtrl.user.stories" style="width: 95%; padding: 20px 0 20px 0">
      <li class="list-group-item" style="padding-left: 5%; padding-bottom: 25px; margin-top: 30px">
        <div style="width: 100%;">
          <div class="modal-story">
            {{story.description}}
          </div>
        </div>

        <div class="left" style="padding-top: 2%; font-size: 12px">
          <a href="https://www.pivotaltracker.com/story/show/{{story.pivotal_id}}" target="_blank" style="padding-right: 10px">
            Check story in pivotal
            <img src="/img/pivotal.png" width="15px">
          </a>
          <span ng-show="usersModalShowCtrl.editableSprint">
            <a ng-really-message="Are you sure?" ng-really-click="usersModalShowCtrl.deleteStory(story.id)">
            <span style="cursor: pointer">Delete story</span>
            </a>
            <img src="/img/delete.svg" width="13px">
          </span>
        </div>

        <div class="right">
          <h3 style="color: #4C91E4">
          {{story.completion_percentage}}%
          </h3>
        </div>
      </li>
    </ul>

  <!--FOOTER-->
  <div class="modal-footer" style="padding-bottom: 20px">
    <div class="" style="text-align: center">
      <span style="margin-bottom: 10px">Commitment progress: <h3 style="color: #4C91E4">{{usersModalShowCtrl.user.completionPerc()}}%</h3><span>
      <p></p>

      <div
        onload="value = usersModalShowCtrl.user.completionPerc()"
        ng-include="'/templates/shared/progress_bar.html'">
      </div>
    </div>

  </div>
</div>
