
<!--MODAL - click user card-->

<div class="modal-header" style="background-color: #4C91E4;">
  <h3 class="modal-title" style="color: white;">{{usersShowCtrl.user.slack_handler}}'s stories<button type="button" class="close" ng-click="usersShowCtrl.cancel()" aria-label="Close"><span aria-hidden="true"><img src="/img/close.svg"></span></button></h3>

</div>
<div class="modal-body" style="text-align: left">
	
	<!-- <div ng-repeat="story in usersShowCtrl.user.stories" class="list_stories" style="width:100%;  padding: auto; margin: auto;"> -->
		<ul class="list-group default_text" ng-repeat="story in usersShowCtrl.user.stories" style="width: 95%">

			<!--
			IF story completed
				/img/check_ok.svg
				class = st_done
				ELSE
				/img/check_no.svg
				class = st_working
			-->
		  	<li class="list-group-item">
				<ul style="list-style: none">
					<li style="float: left;">
						<img class="check" src="/img/check_ok.svg" style="float: left; padding: 2%">
						<span class="st_working" style="font-size: 16px; flex: 1;">{{story.description}} encekhaj sdcd gsdgs cbsud gwuv  guvtyf cfts  jh dasbdhu sidusi dvusfu sf jh dasbdhu sidusi dvusfu sfdvdy ufudfydu. iiiijjiih</span>
					</li>
					<li>
						
					</li>
					<li>
						
						Check story in pivotal <img src="/img/pivotal.png" width="20px">
						<div style="float: right">
						{{story.completion_percentage}}%
						</div>
					</li>
				</ul>


				<!-- <div style="float: left"><img class="check" src="/img/check_ok.svg"></div>
		    	<div>
		    		<span>{{story.description}}</span>
		    	</div>
		    	<div>Ver no pivas</div> -->
			</li>

			<!--EXAMPLE ELSE (apagar depois)-->
			<!--<li class="list-group-item st_working" style="padding-bottom: 10px">
		  		<div style="float: left"><img class="check" src="/img/check_no.svg"></div>
		  		<div>
			    	<span>{{story.description}}</span>
				</div>
			</li>-->
		</ul>
	<!-- </div> -->

  <div ng-repeat="story in usersShowCtrl.user.stories">
  	<!--stories-->
  	<span>{{story.description}}</span>
  	<!--progress-->
  	<label class="label label-warning">{{story.completion_percentage}}%</label>
    <a href="https://www.pivotaltracker.com/story/show/{{story.pivotal_id}}" target="_blank" class="label label-info">pivotal</a>
    <button
      type="button"
      class="btn btn-danger btn-xs"
      ng-really-message="Are you sure?"
      ng-really-click="usersShowCtrl.deleteStory(story.id)">
      Delete
    </button>
  </div>

</div>
<div class="modal-footer">
	<div class="" style="text-align: center">
		<span style="margin-bottom: 10px">Commitment progress:{{usersShowCtrl.user.completionPerc()}}%<span>
		<p>
		<div class="raquel progress" style="width: 50%; height: 10px; margin: auto; padding: auto">
	    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{usersShowCtrl.user.completionPerc()}}" aria-valuemin="0" aria-valuemax="100" style="width:{{usersShowCtrl.user.completionPerc()}}%;">
	      		<span class="sr-only">{{usersShowCtrl.user.completionPerc()}}% Complete</span>
	    	</div>
		</div>
	</div>
</div>
