<!--MODAL - click user card-->

<div class="modal-header" style="background-color: #4C91E4;">
  <h3 class="modal-title" style="color: white;">{{usersModalShowCtrl.user.slack_handler}}<button type="button" class="close" ng-click="usersModalShowCtrl.cancel()" aria-label="Close"><span aria-hidden="true"><img src="/img/close.svg"></span></button></h3>

</div>
<div class="modal-body">

  <div class="list_stories" style="width:90%;  padding: auto; margin: auto;">
    <ul class="list-group default_text">

      <li class="list-group-item center title_modal">
          <strong>Stories</strong>
      </li>

        <li class="list-group-item st_working" style="padding-bottom: 10px">
          <div style="float: left"><img class="check" src="/img/check_no.svg"></div>
          <div>
            <!-- <span class="story_check"><img src="/img/check_ok.svg"></span> -->
            <span>[mockups] (template 01) when I signup in to prolinkedcare I want to receive a "Welcome email"  so I know how I can get more value of software.</span>
        </div>
      </li>
      <li class="list-group-item st_done ">
        <div style="float: left"><img class="check" src="/img/check_ok.svg"></div>
          <div>
            <span>[mockups] (template 01) when I signup in to prolinkedcare I want to receive a "Welcome email"  so I know how I can get more value of software prolinkedcare I want to receive a "Welcome email.</span>
          </div>
      </li>
    </ul>
  </div>

  <div ng-repeat="story in usersModalShowCtrl.user.stories">
    <!--stories-->
    <span>{{story.description}}</span>
    <!--progress-->
    <label class="label label-warning">{{story.completion_percentage}}%</label>
    <a href="https://www.pivotaltracker.com/story/show/{{story.pivotal_id}}" target="_blank" class="label label-info">pivotal</a>
    <button
      type="button"
      class="btn btn-danger btn-xs"
      ng-if="usersModalShowCtrl.user.id == apiClient.user_id"
      ng-really-message="Are you sure?"
      ng-really-click="usersModalShowCtrl.deleteStory(story.id)">
      Delete
    </button>
  </div>

</div>
<div class="modal-footer">
  <div class="" style="text-align: center">
    <span style="margin-bottom: 10px">Commitment progress:{{usersModalShowCtrl.user.completionPerc()}}%<span>
    <p>
    <div class="raquel progress" style="width: 50%; height: 10px; margin: auto; padding: auto">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{usersModalShowCtrl.user.completionPerc()}}" aria-valuemin="0" aria-valuemax="100" style="width:{{usersModalShowCtrl.user.completionPerc()}}%;">
            <span class="sr-only">{{usersModalShowCtrl.user.completionPerc()}}% Complete</span>
        </div>
    </div>
  </div>
</div>
