<div class="container" style="background-color: #222222;">
  <div class="contain">
    <ul class="nav navbar-nav">
      <li>
        <a ui-sref="sprints" class="tab-inactive">Previous Sprints</a>
      </li>
      <li class="tab-active">
        <a ui-sref="sprints-show({ id: 'active' })">Current Sprint</a>
      </li>
    </ul>
  </div>
</div>

<div class="blue">
  <div id="sprint-selected" class="contain" ng-if="sprint">
    <div class="txt_left left" style="width: 100%; padding: 1% 2% 2% 2%">
      <div class="txt_left left" style="height: 30px; color: white">
        From
        <span class="title-sprint">{{ sprint.started_at | dateformat: 'D MMM' }}</span>
        to
        <span class="title-sprint">{{ sprint.ended_at | dateformat: 'D MMM' }} </span>
      </div>

      <span class="txt_left" style="height: 30px; padding: 3% 0 0 70%; color: white">
        Sprint progress: <span class="title-sprint">100%</span>
      </span>

      <!-- <div style="width: 50%; padding-top: 30px" class="right">
          <div
            style="position: relative; top: 50%; transform: translateY(-50%);"
            onload="value = user.completionPerc()"
            ng-include="'/templates/shared/progress_bar.html'">
          </div>
      </div> -->

        <!--PROGRESS BAR-->
        <!-- <div class="progress" style="width: 20%; height: 10px; margin: auto; padding: auto; position: relative; top: 50%; transform: translateY(-70%);">
          <div class="progress-bar progress-bar-{{(value <= 35) ? 'danger' : ((value > 35 && value < 75) ? 'warning' : 'success')}}" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{value}}%;">
            <span class="sr-only">
              {{value}}% Complete
            </span>
          </div>
        </div>
 -->        <!--PROGRESS BAR-->
      </div>
    </div>
  </div>
</div>









    <!--CONTENT INSIDE IF (NO ACTIVE SPRINT)-->
    <!-- <div class="sprint_progress">
      <div style="text-align:right" ng-if="!sprint">
          <div class="right perc" style="width: 100%; text-align: right; padding-bottom: 10px; font-line: 40px; padding-top: 18px">
            <h2>No Active Sprint.</h2>
          </div>
      </div>

      <div ng-if="sprint">
        <div class="default_text">{{ sprint.active ? 'Sprint progress' : 'Finished'}}</div>
        <div style="text-align:right">
          <h2>
            <div class="right perc" style="width: 100%; text-align: right; padding-bottom: 10px">
              <h1>{{sprint.completionPercentage()}}%</h1>
            </div>
          <div class="date_nav prog">
            <div
              style="background-color: red"
              onload="value = sprint.completionPercentage()"
              ng-include="'/templates/shared/progress_bar.html'">
            </div>
          </div>
          </h2>
        </div>
      </div> -->
    </div><!--sprint_progress-->
  </div><!--navig-->



<nav class="navbar navbar-default" style="background-color: white; padding-top:20px; height: 70px">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-left" style="padding-left: 4%; width: 40%">
      <li>
        <a
          href=""
          ng-click="sprintsShowCtrl.setDefaultView()"
          ng-class="{ active: sprintsShowCtrl.listView }">
          <img src="/img/thumb-on.png">
        </a>
      </li>
      <li>
        <a
          href=""
          ng-click="sprintsShowCtrl.setListView()"
          ng-class="{ active: sprintsShowCtrl.listView }">
          <img src="/img/list-off.png">
        </a>
      </li>
    </ul>

    <!-- <ul class="nav navbar-nav navbar-right" style="padding-right: 5%" >
      <li>
          <a href='/login' target="_self">Team</a>
      </li>
      <li>
        <a>Stories</a>
      </li>
    </ul> -->
  </div>
</nav>
