<!--LIST THUMBS-->
<div class="container side_space" style="text-align: center">
  <div class="row" style="width: 100%">
    <div ng-click="sprintsShowCtrl.showUser(user)" class="col-sm-5 col-md-3" ng-repeat="user in sprint.users">

      <div class="thumbnail">
        <div class="caption">
          <h3>{{user.slack_handler}}</h3>
        </div>
        <img class="img-circle" ng-src="{{user.avatar_72_url}}" alt="...">
        <div class="caption">
          <h4>{{user.completionPerc()}}%</h4>
          <div class="progress" style="width: 70%; height: 10px; margin: auto; padding: auto">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{user.completionPerc()}}" aria-valuemin="0" aria-valuemax="100" style="width: {{user.completionPerc()}}%;">
              <span class="sr-only">
                {{user.completionPerc()}}% Complete
              </span>
            </div>
          </div>
        </div>
        <p>{{user.completedStories()}}/{{user.totalStories()}} completed stories</p>
      </div>
</div>
<div ng-click="sprintsShowCtrl.showUser(user)" class="col-sm-5 col-md-3" ng-repeat="user in sprint.users">
      <!---->
      <div class="thumbnail">
        <div class="caption">
          <h3>césarferreira</h3>
        </div>
        <!-- <img class="img-circle" src="{{user.avatar_72_url}}" alt="..."> -->
        <img src="http://media.giphy.com/media/haQ2DRRCtIvBu/giphy.gif">
        <div class="caption">
          It seems someone doesn't want to work. <a class="poke" href="">Set him </a> to work right now.
        </div>
      </div>
    </div>
  </div><!--Items-->
</div><!--CONTAINER-->

