<!--LIST THUMBS-->
<div class="container side_space" style="text-align: center">
  <div class="row" style="width: 100%">
    <div ng-click="sprintsShowCtrl.showUser(user)" class="col-sm-5 col-md-3" ng-repeat="user in sprint.users">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{user.slack_handler}}</h3>
        </div>
        <img class="img-circle" ng-src="{{user.avatar_72_url}}" alt="...">
        <div class="caption">
          <h4>{{user.completionPerc()}}%</h4>
          <div
            onload="value = user.completionPerc()"
            ng-include="'/templates/shared/progress_bar.html'">
          </div>
        </div>
        <p>{{user.completedStories()}}/{{user.totalStories()}} completed stories</p>
      </div>
    </div>

    <div ng-click="sprintsShowCtrl.showUser(user)" class="col-sm-5 col-md-3" ng-repeat="user in sprint.users">
      <div class="thumbnail no-stories">
        <div class="caption">
          <h3>{{user.slack_handler}}</h3>
        </div>
        <img class="img-circle" ng-src="{{user.avatar_72_url}}" alt="...">
        <br /><br />
        <h4>This user doesn't have stories.</h4>    
      </div>
    </div>
  </div>
</div><!--CONTAINER-->

