<!--HOMEPAGE WITHOUT LOGIN-->
<% if current_session_user %>
  <div ui-view></div>
<% else %>
<div style="position: relative">
	<img src="http://www.netanimations.net/fatcat-Q.gif" width="100%" />
</div>
<div style="position: absolute; top: 200px; width: 100%; text-align: center; color: white; ">
	<h1 style="color: white; font-weight: bold; font-size: 50px">We have a BOTE</h1>
	<br />
	<h4>...but you have to login first.</h4>
	<br />
	<br />
	<br />

	
		<!-- <b><span style="padding-right: 10px">
			Log in with slack
			</span>
			<img class="log_in_img" src="/img/slack.png" width="20px" style="opacity: 1;">
		</b> -->

		<a href="/login" class="btn" style="font-size: 18px; color: black; background-color: white"><b>Login</b></a>
	</span>

</div>
<% end %>
